<html>
  <head>
    <title>Home</title>
    <% include ./head %>
    <script src="/static/scripts/home_script.js"></script>
  </head>
  <body class="mainApp margin-reset">
    <% include ./nav %>

    <% if (user) { %>
      <p>Hi <%= user %> | 
      <a href="/account/logout">Log out</a>
      </p>
    <% } else { %>
      <a href="/account/login"> <button type="button">Log In</button> </a>
    <br>
      <a href="/account/signup"> <button type="button">Sign up</button> </a>
    <% }%>
    <% if (allListings) { %>
      <% allListings.forEach(function(listing) { %>
        <!-- <h2>ID: <%= listing._id %></h2> -->
        <h2>Title: <a href="/listings/<%=listing._id%>"><%= listing.title %></a></h2>
        <h2>Description: <%= listing.description %></h2>
        <h2>Owner: <a href="/users/<%=listing.owner._id%>"><%= listing.owner.name %></a></h2>
        <h2>Date posted: <%= moment(listing.date_posted).format('MMMM DD, YYYY') %></h2>
        <br>
      <% }); %>
    <% } %>
  </body>
  <% include ./feature_script %>
</html>
