<html>
  <head>
    <title>Home</title>
    <% include ./head %>
    <script src="/static/scripts/home_script.js"></script>
  </head>
  <body class="mainApp margin-reset">
    <% include ./nav %>
    <div class="container space-top-3">
      <div class="row">
        <!-- <div class="col-sm-1"></div> -->
        <div class="col-md-9">
          <% if (user !== undefined && user !== null && user) { %>
            <h3 class="strong">What can we help you find, <%= username %> ?</h3>
            <h4 class="ma-label ma-label--simple ma-label--simple--secondary"> Browse hundreds of sublets below!</h4>
          <% } else { %>
            <h3 class="strong">Welcome to PennBnB! What can we help you find?</h3>
            <h4 class="ma-label ma-label--simple ma-label--simple--secondary"> Log in or Register to browse hundreds of sublets!</h4>
          <% } %>
          <hr class="ma-separator">
            <% if (allListings) { %>
              <% allListings.forEach(function(listing) { %>
                <h3 class="strong"><a class="ma-label ma-label--simple ma-label--simple--primary" href="/listings/<%=listing._id%>"><%= listing.title %></a></h3>
                <p class="ma-p ma-p--default"><%= listing.description %></p>
                <h5 class="ma-label ma-label--simple ma-label--simple--default">Listed by: <a class="ma-label ma-label--simple ma-label--simple--secondary" href="/users/<%=listing.owner._id%>"><%= listing.owner.name %></a> on <%= moment(listing.date_posted).format('MMMM DD, YYYY') %></h5>
                <hr class="ma-separator">
              <% }); %>
            <% } %>
        </div>
      </div>
    </div>
  </body>
  <% include ./feature_script %>
</html>
