<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
    <script type="text/javascript">
      var loadListing = function() {
        $("#delete-listing").click(function() {
          console.log('*****')
          var currId = $('#listing_id').val()
          var delUrl = '/listings/delete/' + currId
          $.ajax({
            url: delUrl,
            type: 'DELETE',
            success: function(data) {
              if (data === 'success') { // redirect back to home
                 window.location.href = '../home';
              } else {
                console.log(data)
              }
            }
          });
        });
      }
      window.onload = loadListing;
    </script>
  </head>
  <body>
    <input id="listing_id" type="hidden" value="<%= _id %>">
    <h1> Listing show page</h1>
    <h2>Title: <%= title %></h2>
    <h2>Description: <%= description %></h2>
    <h2>Owner: <%= owner %></h2>
    <h2>Date posted: <%= date_posted %></h2>
    <button id='delete-listing'>Delete Listing</button>
  </body>
</html>


