<html>
  <head>
    <title><%= listing.title %></title>
    <% include ./head %>
    <script src="/static/scripts/listing_script.js"></script>
  </head>
  <body class="mainApp margin-reset">
    <% include ./nav %>

    <input id="listing_id" type="hidden" value="<%= listing._id %>">
    <div class="container space-top-3">
        <div class="row justify-content-center">
            <div class="col-sm-1"></div>
            <div class="col-md-6 col-sm-3">
                <!-- Avatar -->
                <div class="pull-right space-top-3">
                    <div class="row">
                        <div class="ma-avatar ma-avatar--small ma-avatar--border-minimal round">
                            <a href="/users/<%=listing.owner._id%>"><img width="70" height="70" src="https://cdn.dribbble.com/users/2456229/screenshots/6376729/image.png" alt=""></a>
                        </div>
                    </div> 
                    <div class="row justify-content-center">
                        <div class="ma-label ma-label--simple ma-label--simple--default"><a href="/users/<%=listing.owner._id%>"><%= listing.owner.name %></a></div>
                    </div>
                </div>

                <!-- title + date -->
                <h2 class="strong"><%= listing.title %></h2>
                <div class="ma-label ma-label--simple ma-label--simple--small"><%= moment(listing.date_posted).format('MMMM D, YYYY') %></div>
                <br>
                <br>

                <!-- Description (NEED SPACE JUST ABOVE) -->
                <p class="ma-p ma-p--large"><%= listing.description %></p>
            
                <hr class="ma-separator">

                
                <div id='reviews-div'>
                </div>

                <% if (email) { %>
                  <div>
                      <div>
                        <h3>Leave a Review</h3>
                        <br>
                          <input class="ma-input ma-input--small" type="text" id="review-title" placeholder="Summarize Your Review Here"> <br/>
                          <textarea class="ma-input ma-input--small" type="text" placeholder="Write your review here" id="review-text"></textarea>
                          <br/>
                          <button class="ma-btn ma-btn--small ma-btn--primary-without-bg" id="post-review">Post Review</button>
                      </div>
                  </div>
                <% } else { %>
                  <div>
                      <div>
                        <h3>Leave a Review</h3>
                        <br>
                          <input class="ma-input ma-input--small" type="text" id="review-title" placeholder="Summarize Your Review Here" disabled> <br/>
                          <textarea class="ma-input ma-input--small" type="text" placeholder="Write your review here" id="review-text" disabled></textarea>
                          <br/>
                          <p class="ma-label ma-label--simple ma-label--simple--primary ma-label--simple--default">
                            Log in to leave a review.
                          </p>
                      </div>
                  </div>
                <% } %>

                <% if (curr == 1) { %>
                    <hr class="ma-separator">
                    <!-- delete listing button -->
                    <button class="ma-btn ma-btn--small ma-btn--primary-without-bg" id='delete-listing'>Delete Listing</button>
                <% } %>
            </div>
            <div class="col-md-1">
            <!-- leave this blank-->
            </div>
            <!-- <div class="col-md-4 space-top-3"> -->
            <% if (email) { %>
              <div class="col-md-4 space-top-3">
                  <div class="ma-box">
                      <div class="ma-box__title">Book this listing</div>
                      <div class="ma-box__content">
                          <!-- <div class="ma-form ma-form--basic"> -->
                          <div class="form-group">
                              <label for="input4">Pick your dates:</label>
                              <input type="text" id="booking-form-date" class="ma-input ma-input--default ma-input--invalid">
                              <p class="ma-p ma-p--small font-weight-normal space-top-1">
                                  These will be the dates that you will be booked for
                              </p>
                              <button class="ma-btn ma-btn--small ma-btn--primary ma-btn--block" id="book-listing">Book</button>
                          </div>
                      </div>
                  </div>
              </div>
            <% } else { %>
              <div class="col-md-4 space-top-3">
                  <div class="ma-box">
                      <div class="ma-box__title">Book this listing</div>
                      <div class="ma-box__content">
                          <!-- <div class="ma-form ma-form--basic"> -->
                          <div class="form-group">
                              <label for="input4">Pick your dates:</label>
                              <input type="text" id="booking-form-date" class="ma-input ma-input--default ma-input--invalid" disabled>
                              <p class="ma-p ma-p--small font-weight-normal space-top-1">
                                  These will be the dates that you will be booked for
                              </p>
                              <p class="ma-label ma-label--simple ma-label--simple--primary ma-label--simple--default">
                                Log in to book this listing.
                              </p>
                          </div>
                      </div>
                  </div>
                </div>
            <% } %>
        </div>
    </div>
  </body>
<% include ./feature_script %>
</html>


