<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <!-- <link rel="stylesheet" href="/theme/app.css"> -->
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
    <script src="/static/scripts/listing_script.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  </head>
  <body>
    <input id="listing_id" type="hidden" value="<%= _id %>">
    <h1> Listing show page</h1>
    <h2>Title: <%= title %></h2>
    <h2>Description: <%= description %></h2>
    <h2>Owner: <%= owner %></h2>
    <h2>Date posted: <%= date_posted %></h2>
    <button id='delete-listing'>Delete Listing</button>

    <div class="col-md-3">
      <h2>Book this listing</h2>
<!--         From: <input type="date" id="date-from"> <br/>
        To: <input type="date" id="date-to"> <br/> -->
        <input type="text" id="booking-form-date" class="form-control pull-right">
        <button id="book-listing">Book this</button>
    </div>


    <div class="col-md-3">
      <h2>Write review</h2>
        Title: <input type="text" id="review-title"> <br/>
        <input type="text" placeholder="Write review here" id="review-text"> <br/>
        <button id="post-review">Post</button>
        <button class="ma-btn ma-btn--default ma-btn--primary">Start Now</button>
    </div>
  </body>
</html>


